/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --light-pink: rgb(255, 96, 96);
}

/** Header **/

#header {
  display: flex;
  justify-content: space-between;
  padding : 50px 100px;
}

#header-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#homepage-link, #about-link {
  color: var(--light-pink);
  text-decoration: none;
}

#homepage-link:hover, #about-link:hover {
  text-decoration: underline;
}

.logo-desktop {
  width: 200px;
  height: auto;
}

/** Banner **/
.banner {
    align-items: center;
    background: url(../../images/imgBanner1.png) center / cover no-repeat;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    height: 200px;
    margin : 0 100px;
    position: relative;
    overflow: hidden;
}

.banner::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#banner-slogan {
  color: white;
  font-size: 40px;
  position: absolute;
}

/** Accommodations **/
#accommodations-container {
  background-color: #F6F6F6;
  border-radius: 25px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  margin: 50px 100px 0 100px;
  padding: 50px;
  width: auto;
}

.accommodations-item {
  background-color: var(--light-pink);
  border-radius: 10px;
  box-shadow: inset 0px -90px 60px -60px rgba(0, 0, 0, 0.6);
  height: 300px;
  position: relative;
}

.accommodations-item-title {
  bottom: 0;
  color: white;
  font-weight: 200;
  left: 10px;
  position: absolute;
  right: 10px;
}

/** Footer **/
#footer {
  align-items: center;
  background-color: black;
  bottom: 0;
  display: flex;
  height: 200px;
  justify-content: center;
  left: 0px;
  margin-top: 100px;
  position: relative;
  right: 0px;
}

.logo-desktop-footer {
  filter: brightness(0) saturate(100%) invert(100%);
  width: 100px;
}

#Legal-mentions {
  color: white;
}

#copyright-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Error **/

.error-section {
  align-items: center;
  color: var(--light-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#error-number {
  font-size: 300px;
  margin: 0;
}

#error-text {
  font-size: 30px;
  margin: 40px;
}

#error-homepage-link{
  color: var(--light-pink);
  font-size: small;
  text-decoration: underline;
  margin: 30px;
}

/** Dropdown Menu **/
.dropdown {
  width: 45%;
}

.dropdown-button {
  align-items: center;
  background-color: var(--light-pink);
  border-radius: 10px;
  color: #F6F6F6;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.dropdown-content {
  background-color: #F6F6F6;
  display: block;
  padding: 10px;
  margin-top: -4px;
}

.dropdown-item {
  color: var(--light-pink);
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
}

/** HabitationHeader **/

.title-and-localisation {
  color: var(--light-pink);
}

.habitation-header-tags-container {
  display: flex;
  margin: 10px 0 20px ;
  width: 100%;
}

.habitation-header-title {
  margin: 0 0 5px;
}

.habitation-header-tag {
  background-color: var(--light-pink);
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  padding: 2px 20px;
}

.habitation-header {
  display: flex;
}

.habitation-informations {
  width: 80%;
}

.profil-and-rating {
  width: 20%;
}

.profil-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.renter {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.renter-identity {
  margin-right: 10px;
}

.name {
  color: var(--light-pink);
  margin: 5px 0;
  text-align: end;
}

.rating {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.fa-star {
  color: #E3E3E3;
  margin-left: 10px;
}

.fa-star-colored {
  color: var(--light-pink);
}
