/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --light-pink: rgb(255, 96, 96);
}

/** Header **/
#header {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

#header-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#homepage-link,
#about-link {
  color: var(--light-pink);
  text-decoration: none;
}

#header-links a.active {
  text-decoration: underline;
}

.logo-desktop {
  display: block;
  height: auto;
  width: 200px;
}

.logo-mobile {
  display: none;
}

/** Banner **/
.banner {
  align-items: center;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 0 100px;
  position: relative;
  overflow: hidden;
}

.banner::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#banner-slogan {
  color: white;
  font-size: 40px;
  position: absolute;
}

/** Accommodations **/
#accommodations-container {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  margin: 50px 100px 0 100px;
  padding: 50px;
  width: auto;
}

.accommodations-item {
  background-color: var(--light-pink);
  border-radius: 10px;
  box-shadow: inset 0px -90px 60px -60px rgba(0, 0, 0, 0.6);
  height: 300px;
  position: relative;
}

.accommodations-item-title {
  bottom: 0;
  color: white;
  font-weight: 200;
  left: 10px;
  position: absolute;
  right: 10px;
}

/** Footer **/
#footer {
  align-items: center;
  background-color: black;
  bottom: 0;
  display: flex;
  height: 200px;
  justify-content: center;
  left: 0px;
  margin-top: 30px;
  position: relative;
  right: 0px;
}

.logo-desktop-footer {
  filter: brightness(0) saturate(100%) invert(100%);
  width: 100px;
}

#Legal-mentions {
  color: white;
}

#copyright-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Error **/

.error-section {
  align-items: center;
  color: var(--light-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-number {
  font-size: 300px;
  margin: 0;
}

#error-text {
  font-size: 30px;
  margin: 40px;
}

#error-homepage-link {
  color: var(--light-pink);
  font-size: small;
  text-decoration: underline;
  margin: 30px;
}

/** Dropdown Menu **/

.dropdown-menus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
  width: 100%;
}

.dropdown {
  display: block;
  position: relative;
  width: auto;
}

.dropdown.open {
  margin-bottom: 50px;
  transition: margin-bottom 0.5s ease;
}

.dropdown.open:nth-child(4n) {
  margin-bottom: 70px;
  transition: margin-bottom 0.5s ease;
}

.dropdown.closed {
  margin-bottom: 0;
  transition: margin-bottom 0.5s ease;
}

.dropdown.open ul {
  max-height: 400px;
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.5s ease;
}

.dropdown.closed ul {
  max-height: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: max-height 0.5s ease, transform 0.5s ease;
}

.dropdown > li {
  background: rgb(255, 96, 96);
  border-radius: 10px;
  color: #fff;
  display: block;
  padding: 0 20px;
  text-decoration: none;
}

.dropdown-button {
  align-items: center;
  display: flex;
  font-weight: bolder;
  height: 50px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.dropdown-content {
  background: #fff;
  box-sizing: border-box;
  color: black;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  top: 50px;
  width: 100%;
}

i.fa-chevron-up {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.rotate-180 {
  transform: rotate(-180deg);
}

/** HabitationHeader **/

.habitation-content {
  margin: 50px 100px;
  height: auto;
}

.title-and-localisation {
  color: var(--light-pink);
}

.habitation-header-tags-container {
  display: flex;
  margin: 10px 0 20px;
  width: 100%;
}

.habitation-header-title {
  margin: 0 0 5px;
}

.habitation-header-tag {
  background-color: var(--light-pink);
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  padding: 2px 20px;
}

.habitation-header {
  display: flex;
}

.habitation-informations {
  width: 65%;
}

.profil-and-rating {
  width: 35%;
}

.profil-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.renter {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.renter-identity {
  margin-right: 10px;
}

.name {
  color: var(--light-pink);
  margin: 5px 0;
  text-align: end;
}

.rating {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.fa-star {
  color: #e3e3e3;
  margin-left: 10px;
}

.fa-star-colored {
  color: var(--light-pink);
}

/** About **/
.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  margin: 30px 100px;
  padding: 0 50px;
  width: auto;
}

/** Carousel **/
.carousel {
  background-color: var(--light-pink);
  border-radius: 20px;
  height: 500px;
  margin: 0 100px;
  position: relative;
}

.chevron-carousel-left,
.chevron-carousel-right {
  color: white;
  cursor: pointer;
  font-size: 60px;
  position: absolute;
  top: 235px;
}

.chevron-carousel-left {
  left: 20px;
}

.chevron-carousel-right {
  right: 20px;
}

.slider-progress {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

@media screen and (max-width: 600px) {
  /** Header **/
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 140px;
  }

  #header {
    padding: 30px 30px;
  }

  #header-links {
    width: 140px;
  }

  #header-links a {
    font-size: 12px;
  }

  /** Banner **/
  .banner {
    border-radius: 25px;
    height: 150px;
    justify-content: flex-start;
    margin: 0 30px;
  }

  #banner-slogan {
    font-size: 25px;
    font-weight: 200;
    margin-left: 20px;
    width: 180px;
  }

  /** Accommodations **/
  #accommodations-container {
    background-color: transparent;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 30px 0;
    padding: 0px;
  }

  .accommodations-item {
    height: 250px;
  }

  /** Footer **/
  .logo-desktop-footer {
    width: 120px;
  }

  #Legal-mentions {
    font-size: 14px;
    width: 100px;
  }

  /** Carousel **/
  .carousel {
    height: 300px;
    margin: 0 30px;
  }

  .chevron-carousel-left,
  .chevron-carousel-right {
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 130px;
  }

  .chevron-carousel-left {
    left: 15px;
  }

  .chevron-carousel-right {
    right: 15px;
  }

  .slider-progress {
    bottom: 15px;
    left: 50%;
  }

  /** Error **/

  #error-number {
    font-size: 100px;
    margin: 50px;
  }

  #error-text {
    font-size: 20px;
    margin: 20px;
    text-align: center;
    width: 200px;
  }

  #error-homepage-link {
    color: var(--light-pink);
    font-size: small;
    text-decoration: underline;
    margin: 50px;
  }

  /** HabitationHeader **/

  .habitation-content {
    margin: 10px 30px;
  }

  .habitation-header-tag {
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .habitation-header {
    display: flex;
    flex-direction: column;
  }

  .habitation-informations {
    width: 100%;
  }

  .profil-and-rating {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }

  .rating {
    margin-top: 0px;
  }

  .fa-star {
    margin-left: 0px;
    margin-right: 10px;
  }

  /** Dropdown Menu **/

  .dropdown-menus {
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .dropdown.open {
    margin-bottom: 80px;
    transition: margin-bottom 0.5s ease;
  }

  .about-content .dropdown.open:nth-child(4n) {
    margin-bottom: 120px;
    transition: margin-bottom 0.5s ease;
  }

  /** About **/
  .about-content {
    margin: 30px;
    padding: 0;
  }
}
